.Rates {
  width: 700px;
  margin: 0 auto;

  table {
    width: 100%;
    border-collapse: collapse;

    thead tr {
      border-bottom: 1px solid rgba(0,0,0,.2);
    }

    tbody tr:nth-child(2n) {
      background: rgba(0,0,6,.03);
    }

    td, th {
      text-align: left;
      padding: 6px 0;
    }
  }
}